/* p{
    position: static;
} */
div{
    display: inline-block;
    background-color: aqua;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
#box3{
    /* position: relative; */
    position: absolute;     /*ye body ke respect m hoga kyuki parent div non static h*/
    top: 100px;          
    left: 50px;
}
#box4{
    position: sticky;
    top:0px;
}
.wrapper{
    background-color: yellow;
    height: 1000px;
    width: 100vw;
}
/* isse A ki psition fix hojaegi */
#box1{
    position: fixed; 
}