.wrapper{
    background-color: antiquewhite;
    height:600px;
    width:1000px;
}
#h{
    position: static;
    font-weight: bold;
    font-size: large;
}
#e{
    position: relative;
    left:960px;
   bottom: 19px;
   font-weight: bold;
   font-size: large;
}
#l{
    position: absolute;
    top: 590px;
    font-weight: bold;
    font-size: large;
}
#L{
    position: relative;
    left: 960px;
    top: 540px;
    font-weight: bold;
    font-size: large;
}
#o{
    position: relative;
    text-align: center;
    top: 150px;
    font-weight: bold;
    font-size: large;
}